/* Ostrich Sans Rounded */

@font-face {
	font-family: 'Ostrich Sans Rounded';
	src: url('./ostrich-sans-rounded/ostrich-sans-rounded.eot');
	src: local('☺'), url('./ostrich-sans-rounded/ostrich-sans-rounded.woff') format('woff'), url('./ostrich-sans-rounded/ostrich-sans-rounded.ttf') format('truetype'), url('./ostrich-sans-rounded/ostrich-sans-rounded.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
